*{
   box-sizing: border-box;
}

h1{font-size: 50px;}
h2{font-size: 30px;}
p{ font-size: 10px;}
ul{list-style: none;}

body{
   font-family: 'Times New Roman', Times, serif  ;
   background-color: blueviolet;
   margin: 0%;
}